.pxb-t .pxb-t-font {
    font-family: 'Ubuntu Mono', monospace;
}
.pxb-t .pxb-t-font-heading {
    font-family: press_start_2pregular, monospace;
}
.pxb-t .pxb-t-color {
    color: #444;
}
.pxb-t .pxb-t-link {
    color: #0066ff;
}
.pxb-t.pxb-t--dark {
    text-shadow: 0 0 0.2rem rgba(0,0,0,0.4);
}
.pxb-t.pxb-t--dark .pxb-t-bg {
    background: #142763;
}
.pxb-t.pxb-t--dark .pxb-t-color {
    color: white;
}
.pxb-t.pxb-t--dark .pxb-t-bg {
    background-color: black;
}
.pxb-t.pxb-t--dark .pxb-t-link {
    color: white;
}